global
    # daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend write-in
    bind localhost:4000
    # condition: if the number of masters is less than 1 (no masters)
    acl no_masters nbsrv(write-backend) lt 1
    # then use ANY of the available neo4j instances
    use_backend all-servers if no_masters
    default_backend write-backend

backend write-backend
    option httpchk GET /check/master
    server s1 localhost:5000 maxconn 32 check
    server s2 localhost:5001 maxconn 32 check

frontend read-in
    bind localhost:4001
    default_backend read-backend

backend read-backend
    option httpchk GET /check/slave
    server s1 localhost:5000 maxconn 32 check
    server s2 localhost:5001 maxconn 32 check

backend all-servers
    option httpchk GET /check/availability
    server s1 localhost:5000 maxconn 32 check inter 5s
    server s2 localhost:5001 maxconn 32 check inter 5s

listen admin
    bind localhost:8080
    stats enable

